<!--{% extends 'index.html' %}-->

<!--{% block head %}-->

<!--{% endblock %}-->

<!--{% block body %}-->
<!--<div class="content">-->
<!--    <h1>TO-DO</h1>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Task</th>-->
<!--            <th>Added</th>-->
<!--            <th>Actions</th>-->
<!--        </tr>-->
<!--        {% for task in tasks %}-->
<!--        <tr>-->
<!--            <td>{{task.desc}}</td>-->
<!--            <td>{{task.date_created}}</td>-->
<!--            <td>-->
<!--                <a href="/delete/{{task.id}}">Delete</a>-->
<!--                <br>-->
<!--                <a href="/update/{{task.id}}">Update</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--    <form action="/" method="POST">-->
<!--        <input type="text" name="description" id="description">-->
<!--        <input type="submit" value="Add task">-->
<!--    </form>-->
<!--</div>-->
<!--{% endblock %}-->